<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Votebattle</servlet-name>
		<servlet-class>com.june13u.votebattle.VotebattleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Votebattle</servlet-name>
		<url-pattern>/votebattle</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Index</servlet-name>
		<servlet-class>com.june13u.votebattle.IndexServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NewStage</servlet-name>
		<servlet-class>com.june13u.votebattle.NewStageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewStage</servlet-name>
		<url-pattern>/stage/new</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowStage</servlet-name>
		<servlet-class>com.june13u.votebattle.ShowStageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowStage</servlet-name>
		<url-pattern>/stage/show</url-pattern>
	</servlet-mapping>
</web-app>
